# EXAMPLE SETTINGS FILE.

# Google OAuth2 Client ID and secret for login.
#
# Google provides documentation[1] on creating client credentials. For this web
# application make sure to add
# http://localhost:8000/.oidc/redirect to the list of authorised redirect URIs.
#
# [1] https://developers.google.com/identity/protocols/OAuth2WebServer#creatingcred
CLIENT_ID=replace-me
CLIENT_SECRET=replace-me

# This passphrase is used to encrypt web-browser session cookies. Setting this
# to a fixed secret value will avoid forcing users to sign in again if you
# restart the web server.
OIDC_CRYPTO_PASSPHRASE=some-long-passphrase
